.card-evento {
    background-color: #212121;
    display:flex;
    flex-direction: column;
    width: 282px;
}

.card-evento p, 
.card-evento h4 {
    margin: 0;
}

.card-evento .corpo {
    padding: 24px 16px;
    display:flex;
    gap:8px;
    flex-direction: column;
    align-items: flex-start;
}

.card-evento .tag{
    background-color: #4A4949;
    border-radius: 4px;
    padding: 8px;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-weight:700;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 10%;
    vertical-align:middle;
    text-transform: uppercase;
}

.card-evento .data {
    color:white;
    font-weight:400;
    font-size:13px;
    line-height: 120%;
}

.card-evento .titulo{
    font-family: "Orbitron", sans-serif;
    font-weight:700;
    font-size: 25px;
    line-height: 125%;
    color:white;
}